.sidebar-container {
    border-right: 1px solid #64748b; /* Slate-500 */
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-divider {
    margin: 8px 0;
    height: 1px;
    background-color: #475569; /* Darker slate color */
}
